@model IEnumerable<Soul.Models.gridtable>


@if (Session["email"] != null)
{

    <h2>Welcome <br />@Session["email"].ToString()</h2>


}
@using GridMvc.Html

@{
    /**/

    /**/

    ViewBag.Title = "Searchuser";
}
<center>
    <h2>Search Users</h2>
</center>
<link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />
<script src="@Url.Content("~/scripts/jquery-1.10.2.min.js")"></script>
<script src="@Url.Content("~/scripts/gridmvc.min.js")"></script>
@using (Html.BeginForm("Searchuser", "User", FormMethod.Get))
{
    <div class="container">
        <b>Search By:</b>
        <select id="Search By">

            <option value="Cast">Cast </option>
            <option value="Religion">Religion</option>
            <option value="Profession">Profession</option>
        </select><br /><br />

        @Html.TextBox("searching")
        <input type="submit" value="submit" />

    </div>
    <br /><br />

    <div class="code-cut">
        @Html.Grid(Model).Columns(Columns =>
   {
       Columns.Add(s => s.Fullname).Titled("Fullname");
       Columns.Add(s => s.Email).Titled("Email");
       Columns.Add(s => s.Age).Titled("Age");
       Columns.Add(s => s.Religion).Titled("Religion");
       Columns.Add(s => s.Cast).Titled("Cast");
       Columns.Add(s => s.Profession).Titled("Profession");
       Columns.Add(s => s.City).Titled("City");
       Columns.Add()
       .Encoded(false)
       .Sanitized(false)
       .SetWidth(50)
       .RenderValueAs(o => (Html.ActionLink(" SendRequest", "SendRequest", new { id = o.UserID }, new { @class = "btn btn-default" }).ToHtmlString()));





   }).WithPaging(10).Sortable(true)



    </div>

}